*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
}

.navbar__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
  padding-right: 1rem;
}

.navbar__item {
  margin-right: 1.2rem;
  list-style: none;
}

.navbar__link {
  color: rgb(39, 39, 39);
  text-decoration: none;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__item:nth-child(3) {
  margin-top: -.5rem;
}

.navbar__nine-dots {
  display: inline-grid;
  grid-template-columns: repeat(3, 6px);
  grid-template-rows: repeat(3, 6px);
  justify-content: center;
  align-content: center;
}

.navbar__nine-dots div {
  width: 4px;
  height: 4px;
  background-color: grey;
}

.navbar__nine-dots:hover div {
  background-color: rgb(43, 43, 43);
}

.navbar__profile {
  border-radius: 50%;
}